<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/babbage.css">
        <title>Charles Babbage</title>
    </head>
    <body>
        <header>
            <img class="img" src="/images/eniac2.jpg" alt="image">

            <header class=header>
                <h1 class="title">DH Heroes</h1>
                
                <ul>
                    <li><a class="b-menu" href="/">Inicio</a></li>
                    <li><a class="b-menu" href="/berners-lee">Berners lee</a></li>
                    <li><a class="b-menu" href="/clarke">Joan Clarke</a></li>
                    <li><a class="b-menu" href="/hamilton">Margaret Hamilton</a></li>
                    <li><a class="b-menu" href="/hopper">Grace Hopper</a></li>
                    <li><a class="b-menu" href="/lovelace">Ada Lovelace</a></li>
                    <li><a class="b-menu" href="/turing">Alan Turing</a></li>
                </ul>
            </header>
        </header>
        <main class="main">

            <h2 class="t-perfil" >Charles Babbage</h2>
            
            <p class="p-perfil"> Charles Babbage (Teignmouth, Devonshire, Gran Bretaña<br>, 26 de diciembre de 1791-Londres, 18 de octubre de 1871)<br> fue un matemático y científico de la computación británico.<br>Diseñó y desarrolló una calculadora mecánica capaz de calcular<br> tablas de funciones numéricas por el método de diferencias.<br> También diseñó, pero nunca construyó, la analítica<br> para ejecutar programas de tabulación o computación;<br> por estos inventos se le considera como una<br> de las primeras personas en concebir la idea<br> de lo que hoy llamaríamos una computadora,<br> por lo que se le considera como "El Padre de la computación".<br> En el Museo de Ciencias de Londres se exhiben<br> partes de sus mecanismos inconclusos.<br> Parte de su cerebro conservado en formol se exhibe en <br>el Royal College of Surgeons of England. Sitio en Londres.</p>


            <img class="f-perfil" src="/images/babbaje.jpg" alt="babbage">
        </main>
    </body>
</html>
