<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/BernersLee.css">
        <title>Berners lee</title>
    </head>
    <body>
        <header>
            <img class="img" src="/images/eniac2.jpg" alt="image">

            <header class=header>
                <h1><a class="title" href="/">DH Heroes</a></h1>
                
                <ul>
                    <li><a class="b-menu" href="/babbage">Charles Babbage</a></li>
                    <li><a class="b-menu" href="/berners-lee">Berners lee</a></li>
                    <li><a class="b-menu" href="/clarke">Joan Clarke</a></li>
                    <li><a class="b-menu" href="/hamilton">Margaret Hamilton</a></li>
                    <li><a class="b-menu" href="/hopper">Grace Hopper</a></li>
                    <li><a class="b-menu" href="/lovelace">Ada Lovelace</a></li>
                    <li><a class="b-menu" href="/turing">Alan Turing</a></li>
                </ul>
            </header>
        </header>
        <main class="main">

            <h2 class="t-perfil" >Berners lee</h2>
            
            <p class="p-perfil">Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955),<br> conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre<br> de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor<br> usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide<br> Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías<br> sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.<br>
                <br>
            Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera<br> más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y<br> su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup<br> Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el<br> sistema de localización de objetos en la web URL (Uniform Resource Locator).</p>


            <img class="f-perfil" src="/images/berners-lee.jpg" alt="Berners lee">
        </main>
    </body>
</html>
