<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/clarke.css">
        <title>Joan Clarke</title>
    </head>
    <body>
        <header>
            <img class="img" src="/images/eniac2.jpg" alt="image">

            <header class=header>
                <h1 class="title">DH Heroes</h1>
                
                <ul>
                    <li><a class="b-menu" href="/">Inicio</a></li>
                    <li><a class="b-menu" href="/babbage">Charles Babbage</a></li>
                    <li><a class="b-menu" href="/berners-lee">Berners lee</a></li>
                    <li><a class="b-menu" href="/hamilton">Margaret Hamilton</a></li>
                    <li><a class="b-menu" href="/hopper">Grace Hopper</a></li>
                    <li><a class="b-menu" href="/lovelace">Ada Lovelace</a></li>
                    <li><a class="b-menu" href="/turing">Alan Turing</a></li>
                </ul>
            </header>
        </header>
        <main class="main">

            <h2 class="t-perfil" >Joan Clarke</h2>
            
            <p class="p-perfil">Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke (Londres,<br> 24 de junio de 1917 – Oxford, 4 de septiembre de 1996) fue una criptoanalista y numismática<br> británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.<br>
                <br>
            Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que<br> desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios<br> y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE),en 1946</p>


            <img class="f-perfil" src="/images/joan_clarke.png" alt="clarke">
        </main>
    </body>
</html>
