<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/hamilton.css">
        <title>Margaret Hamilton</title>
    </head>
    <body>
        <header>
            <img class="img" src="/images/eniac2.jpg" alt="image">

            <header class=header>
                <h1><a class="title" href="/">DH Heroes</a></h1>
                
                <ul>
                    <li><a class="b-menu" href="/babbage">Charles Babbage</a></li>
                    <li><a class="b-menu" href="/berners-lee">Berners lee</a></li>
                    <li><a class="b-menu" href="/clarke">Joan Clarke</a></li>
                    <li><a class="b-menu" href="/hamilton">Margart Hamilton</a></li>
                    <li><a class="b-menu" href="/hopper">Grace Hopper</a></li>
                    <li><a class="b-menu" href="/lovelace">Ada Lovelace</a></li>
                    <li><a class="b-menu" href="/turing">Alan Turing</a></li>
                </ul>
            </header>
        </header>
        <main class="main">

            <h2 class="t-perfil" >Margaret Hamilton</h2>
            
            <p class="p-perfil">Margaret Hamilton (17 de agosto de 1936) es una científica computacional,<br> matemática e ingeniera de Software.<br>
                <br>
                Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,<br>1​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa<br> Espacial Apolo.2​3​4​ En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc.<br> en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de<br> sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés<br> Development Before the Fact) para sistemas de diseño de software.Acuñó el término «ingeniería<br> de software» para distinguir entre el trabajo de hardware y otras ingenierías. A<br> pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el<br> mismo respeto que otras disciplinas.6​7​<br>
                <br>
                El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad, entregada por<br> el expresidente de Estados Unidos Barack Obama, por su trabajo en la NASA durante las<br> misiones Apolo.8​9​<br>
                <br>
                Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de robustez y<br> tolerancia a fallos eran una prioridad para la seguridad y supervivencia de los astronautas<br> durante los viajes a la Luna, es por esto que para muchos Margaret Hamilton es<br> considerada una de las primeras personas en convertirse en Ingeniera de Confiabilidad del Sitio<br> (del inglés Site Reliability Engineer).10​</p>


            <img class="f-perfil" src="/images/hamilton.jpg" alt="hamilton">
        </main>
    </body>
</html>
