<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/turing.css">
        <title>Alan Turing</title>
    </head>
    <body>
        <img class="img" src="/images/eniac2.jpg" alt="image">

        <header class=header>
            <h1><a class="title" href="/">DH Heroes</a></h1>
            
            <ul>
                <li><a class="b-menu" href="/babbage">Charles Babbage</a></li>
                <li><a class="b-menu" href="/berners-lee">Berners lee</a></li>
                <li><a class="b-menu" href="/clarke">Joan Clarke</a></li>
                <li><a class="b-menu" href="/hamilton">Margaret Hamilton</a></li>
                <li><a class="b-menu" href="/hopper">Grace Hopper</a></li>
                <li><a class="b-menu" href="/lovelace">Ada Lovelace</a></li>
                <li><a class="b-menu" href="/turing">Alan Turing</a></li>
            </ul>
        </header>
        <main class="main">

            <h2 class="t-perfil" >Alan Turing</h2>
            
            <p class="p-perfil">Alan Mathison Turing (Paddington, Londres; 23 de junio de 1912-Wilmslow, Cheshire;<br> 7 de junio de 1954), fue un matemático, lógico, informático teórico, criptógrafo, filósofo,<br> biólogo teórico, maratoniano y corredor de ultradistancia británico.1​2​3​4​5​<br>
            <br>
            Es considerado uno de los padres de la ciencia de la computación y precursor de la informática<br> moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la<br> máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de<br> Church-Turing (1936).<br>
            <br>
            Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la<br> máquina Enigma, y durante un tiempo fue el director de la sección Naval Enigma de Bletchley<br> Park. Se ha estimado que su trabajo acortó la duración de esa guerra entre dos y cuatro años.6​ Tras<br> la guerra, diseñó uno de los primeros computadores electrónicos programables digitales en el<br> Laboratorio Nacional de Física del Reino Unido y poco tiempo después construyó otra de las<br> primeras máquinas en la Universidad de Mánchester.</p>


            <img class="f-perfil" src="/images/turing.jpg" alt="clarke">
        </main>
    </body>
</html>
