*{
    padding: 0%;
    margin: 0%;
}

.header{
    position: relative;
    background-color: rgba(48, 53, 53, 0.795);
    height: 100px;
    
}

.title{
    color: #fff;
    position: relative;
    top: 20px;
    padding-left: 40px;
    font-size: 50px;
    text-decoration: none;
}

li{
    display: inline-block;
}
.b-menu{
    position: relative;
    left: 340px;
    bottom: 15px;
    font-size: 20px;
    margin: 0px 10px 0px;
    text-decoration: none;
    color: #fff;
}

.b-menu:hover{
    background-color: rgba(0, 0, 0, 0.37);
}

.img{
    position: absolute;
    /* bottom: 100px; */
    width: 1360px;
    height: 639px;
    /* padding-bottom: 0%; */
}

.main{
    position: absolute;
    top: 150px;
    left: 100px;
    width: 1150px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 20px;
}

.t-perfil{
    position: relative;
    left: 300px;
    top: 20px;
    font-size: 40px;
}

.f-perfil{
    position: relative;
    left: 820px;
    width: 300px;
    height: 350px;
    bottom: 250px;
}

.p-perfil{
    position: relative;
    font-size: 18px;
    top: 50px;
    left: 30px;

    
}

